In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
#Problem1

url = "https://fred.stlouisfed.org/graph/fredgraph.csv?bgcolor=%23e1e9f0&chart_type=line&drp=0&fo=open%20sans&graph_bgcolor=%23ffffff&height=450&mode=fred&recession_bars=on&txtcolor=%23444444&ts=12&tts=12&width=1168&nt=0&thu=0&trc=0&show_legend=yes&show_axis_titles=yes&show_tooltip=yes&id=GDPC1,PCECC96,GPDIC1&scale=left,left,left&cosd=1947-01-01,1947-01-01,1947-01-01&coed=2021-10-01,2021-10-01,2021-10-01&line_color=%234572a7,%23aa4643,%2389a54e&link_values=false,false,false&line_style=solid,solid,solid&mark_type=none,none,none&mw=3,3,3&lw=2,2,2&ost=-99999,-99999,-99999&oet=99999,99999,99999&mma=0,0,0&fml=a,a,a&fq=Quarterly,Quarterly,Quarterly&fam=avg,avg,avg&fgst=lin,lin,lin&fgsnd=2020-02-01,2020-02-01,2020-02-01&line_index=1,2,3&transformation=lin,lin,lin&vintage_date=2022-04-12,2022-04-12,2022-04-12&revision_date=2022-04-12,2022-04-12,2022-04-12&nd=1947-01-01,1947-01-01,1947-01-01"

In [1]:
#Problem2 + Problem4

gdp = pd.read_csv(url, parse_dates=True, index_col=0)

NameError: name 'pd' is not defined

In [4]:
#Problem3
names = {"GDPC1":"GDP","PCECC96":"Consumption","GPDIC1":"Investment"}
gdp.rename(columns=names,inplace=True)

In [5]:
#Problem 5.1

gdp.loc['1/1/2000':'12/31/2009']

                  GDP  Consumption  Investment
DATE
2000-01-01  12935.252     8545.639    2257.109
2000-04-01  13170.749     8625.435    2390.733
2000-07-01  13183.890     8708.074    2367.274
2000-10-01  13262.250     8784.155    2371.809
2001-01-01  13219.251     8816.014    2264.202
2001-04-01  13301.394     8833.726    2267.433
2001-07-01  13248.142     8864.465    2218.370
2001-10-01  13284.881     9007.494    2108.500
2002-01-01  13394.910     9027.548    2170.707
2002-04-01  13477.356     9073.212    2206.375
2002-07-01  13531.741     9136.709    2203.109
2002-10-01  13549.421     9187.527    2201.749
2003-01-01  13619.434     9232.782    2218.685
2003-04-01  13741.107     9338.495    2233.997
2003-07-01  13970.157     9470.541    2315.399
2003-10-01  14131.379     9535.741    2393.402
2004-01-01  14212.340     9624.649    2398.151
2004-04-01  14323.017     9677.166    2493.945
2004-07-01  14457.832     9790.836    2532.635
2004-10-01  14605.595     9901.580    2585.477
2005-01-01  14767.846     9964.496    2658.163
2005-04-01  14839.707    10074.922    2622.793
2005-07-01  14956.291    10158.513    2657.458
2005-10-01  15041.232    10177.238    2743.846
2006-01-01  15244.088    10288.217    2784.583
2006-04-01  15281.525    10341.556    2766.628
2006-07-01  15304.517    10407.966    2755.954
2006-10-01  15433.643    10507.248    2702.487
2007-01-01  15478.956    10572.053    2683.893
2007-04-01  15577.779    10599.795    2713.495
2007-07-01  15671.605    10670.506    2686.106
2007-10-01  15767.146    10712.556    2653.056
2008-01-01  15702.906    10697.867    2583.253
2008-04-01  15792.773    10727.347    2536.403
2008-07-01  15709.562    10644.668    2485.549
2008-10-01  15366.607    10548.872    2246.441
2009-01-01  15187.475    10522.083    1986.845
2009-04-01  15161.772    10470.358    1872.287
2009-07-01  15216.647    10540.769    1868.013
2009-10-01  15379.155    10529.156    2040.736

In [6]:
#Problem 5.2

gdp_growth = gdp.pct_change()

names = {"GDP":"GDP Growth","Consumption":"Consumption Growth","Investment":"Investment Growth"}
gdp_growth.rename(columns=names,inplace=True)

gdp_growth

            GDP Growth  Consumption Growth  Investment Growth
DATE
1947-01-01         NaN                 NaN                NaN
1947-04-01   -0.002667            0.016636          -0.076596
1947-07-01   -0.002065            0.003259          -0.029421
1947-10-01    0.015643            0.000319           0.193507
1948-01-01    0.015042            0.004983           0.102605
...                ...                 ...                ...
2020-10-01    0.011153            0.008356           0.056636
2021-01-01    0.015339            0.027442          -0.005780
2021-04-01    0.016407            0.028829          -0.009966
2021-07-01    0.005709            0.004888           0.029572
2021-10-01    0.016808            0.006259           0.081268

[300 rows x 3 columns]

In [7]:
#Problem 5.3

gdp_growth['GDP Growth'].idxmax()

Timestamp('2020-07-01 00:00:00')

In [8]:
#Problem 5.4

def recession(s):
    if s.min() < 0:
        return 'recession'
    else:
        return 'normal'

df = gdp_growth.agg(recession,axis=1)
df

DATE
1947-01-01       normal
1947-04-01    recession
1947-07-01    recession
1947-10-01       normal
1948-01-01       normal
                ...
2020-10-01       normal
2021-01-01    recession
2021-04-01    recession
2021-07-01       normal
2021-10-01       normal
Length: 300, dtype: object

In [9]:
#Problem 5.5

my_list = gdp_growth['Investment Growth'] > gdp_growth['GDP Growth']

gdp_growth.loc[my_list]

            GDP Growth  Consumption Growth  Investment Growth
DATE
1947-10-01    0.015643            0.000319           0.193507
1948-01-01    0.015042            0.004983           0.102605
1948-04-01    0.016507            0.011636           0.061885
1948-07-01    0.005729            0.001476           0.010244
1949-07-01    0.010324            0.002268           0.082907
...                ...                 ...                ...
2019-01-01    0.005978            0.001516           0.015594
2020-07-01    0.075475            0.090537           0.161630
2020-10-01    0.011153            0.008356           0.056636
2021-07-01    0.005709            0.004888           0.029572
2021-10-01    0.016808            0.006259           0.081268

[156 rows x 3 columns]